:root {
    --primary: #000000;
    --secondary: #757575;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebedef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quick-menu {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entrance-graphic{
    height: 98vh;
    width: 20vw;
    overflow: visible;
}

g {
    overflow: hidden;
    visibility: hidden;
}

.swipe-indicator{
    scale: 0.2;
}

.main-content{
    height: 100vh;
}


@media (max-width: 840px){
    .entrance-graphic{
        height: 70vh;
    }
}