:root {
    --primary: #000000;
    --secondary: #757575;
    --text-dark: #2e3138;
    --netarch-sig-primary: #18243b;
    --netarch-sig-primary-light: rgba(24, 36, 59, 0.05);
    --netarch-sig-secondary: #757A7E;
    --netarch-sig-tertiary: #A5A4A2; 
    --button-secondary: #d5d7dd;

    --berlin-gray: #ebedef;

    --global-border-radius: 0;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

p{
    font-weight: lighter;
}

a{
    text-decoration: none;
    color:#000000;
}

a:hover{
    scale: 1.1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--berlin-gray);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    border-radius: 0.6rem;
    border-color: transparent;
    color: black;
    background-color: var(--button-secondary);
    padding: 1%;
    transition: all 0.2s;
}

button:hover{
    scale: 1.1;
}


.entrance-section {
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-type: x mandatory;
}

.entrance-graphic {
    height: 90vh;
    width: 20%;
    overflow: visible;
}

.swipe-indicator {
    scale: 0.2;
}

g{
    overflow: hidden;
    visibility: hidden;
}

.main-content {
    border-top-left-radius: var(--global-border-radius);
    border-top-right-radius: var(--global-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
    background-color: white;
}

.separator{
    width: 100%;
    height: 3vh;
    background-color: var(--netarch-sig-primary);
}

.intro-segment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.intro-img{
    object-fit: cover;
    height: 100%;
    max-width: 40%;
}

.intro-content{
    height: 100%;
    max-width: 30%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.intro-text{
    margin: 3%;
    text-align: center;
}

.call-to-action-segment{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--netarch-sig-tertiary);
}

.cta-title{
    width: 40%;
    text-align: center;
}

.cta-card-container{
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70%;
    width: 100%;
}



.cta-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 28%;
    height: 100%;
}

.cta-card-img{
    width: 100%;
    max-height: 40%;
}

.cta-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-card-header{
    margin: 1%;
    width: 90%;
    text-align: center;
}

.cta-card-text{
    margin: 2%;
    width: 90%;
    text-align: center;
}

.footbar{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 1vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: var(--netarch-sig-primary);
    color: white;
}

.footbar-section{
    margin: 1vh;
}

.footbar-item{
    margin: 5%;
}

.footbar-link{
    color: white;
}

.footbar-link:hover{
    scale: 1.2;
}

.hidden-l{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 1.5s;
}

.hidden-r{
    opacity: 0;
    transform: translateX(+100%);
    filter: blur(5px);
    transition: all 1.5s;
}

.hidden-fade{
    opacity: 0;
    transition: all 1.5s;
}


.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media (max-width: 840px){
    .intro-segment{
        flex-direction: column;
    }

    .intro-img{
        max-width: 100%;
        max-height:30%;
    }

    .intro-content{
        max-width: 100%;
        max-height: 30%;
    }

    .cta-title{
        font-size: 10cqi;
        width: 90%;
    }

    .cta-card-container{
        flex-direction: column;
        align-items: center;
        margin: 2%;
    }

    .cta-card{
        width: 90%;
        margin: 2%;
    }

    .footbar{
        flex-direction: column;
        align-items: center;
    }
} 
