:root {
    --primary: #000000;
    --secondary: #757575;
    --text-dark: #2e3138;
    --netarch-sig-primary: #18243b;
    --netarch-sig-primary-light: rgba(24, 36, 59, 0.05);
    --netarch-sig-secondary: #757A7E;
    --netarch-sig-tertiary: #A5A4A2; 
    --button-secondary: #d5d7dd;

    --berlin-gray: #ebedef;

    --global-border-radius: 1rem;

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

p{
    font-weight: lighter;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--berlin-gray);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


.entrance-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-type: x mandatory;
}

.entrance-graphic {
    height: 90vh;
    width: 20%;
    overflow: visible;
}

.swipe-indicator {
    scale: 0.2;
}

g {
    overflow: hidden;
    visibility: hidden;
}

.main-content {
    border-top-left-radius: var(--global-border-radius);
    border-top-right-radius: var(--global-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
    background-color: var(--netarch-sig-primary);
}

.work-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 0.5%;
    min-height: 46vh;
    width: 100%;
}

.slogan-card{
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    width: 49%;
    min-height: 45vh;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    background-color: white;
}

.slogan-img{
    border-radius: var(--global-border-radius);
    overflow: hidden;
    object-fit: cover;
    height: 95%;
    width: 60%;
    margin: 1%;
}

.slogan{
    margin: 2%;
    margin-left: 0;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    min-height: 40vh;
}

.slogan-title{
    width: 100%;
    color: var(--primary);
}

.slogan-text{
    width: 100%;
    color: var(--secondary);
}

.slogan-cta-button{
    border-radius: 0.6rem;
    border-color: transparent;
    color: black;
    background-color: var(--button-secondary);
    margin-top: 8%;
    padding: 1%;
    transition: all 0.2s;
}
y
.slogan-cta-button:hover{
    scale: 1.1;
}

/* scroller styles start */ 

.tech-stack-item{
    margin: 1%;
    color: var(--secondary);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    scale: 1;
    transition: all 0.3s;
}

.tech-stack-item:hover{
    color: var(--netarch-sig-primary);
    scale: 1.2;
    transition: all 0.3s;
}

.tech-stack-item img{
    margin-right: 0.3rem;
    height: 1rem;
    width: auto;
}
 

.scroller{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.scroller-header{
    margin-bottom: 2%;
}

.scroller-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation: scroll;
}



.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
  
.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}
  
.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}
  
.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}
  
.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}
  
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* scroller styles end */  

.footbar{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 1vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: var(--berlin-gray);
}

.footbar-section{
    margin: 1vh;
}

.hidden-l{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: all 1.5s;
}

.hidden-r{
    opacity: 0;
    transform: translateX(+100%);
    filter: blur(5px);
    transition: all 1.5s;
}

.hidden-fade{
    opacity: 0;
    transition: all 1.5s;
}


.show{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
}

@media (max-width: 840px) {
    .entrance-graphic {
        height: 70vh;
    }

    .work-section{
        margin-top: 1.5%;
        flex-direction: column;
        align-items: center;
    }

    .slogan-card{
        flex-direction: column;
        justify-content: space-evenly;
        width: 95%;
        height: auto;
        min-height: 45vh;
    }

    .slogan-img{
        object-fit: cover;
        margin: 1%;
        min-height: 30vh;
        width: 98%;
    }

    .slogan{
        margin: 2%;
        margin-top: 2vh;
        min-height: 15vh;
        max-width: 96%;
    }

    .slogan-cta-button, .tech-stack-cta-button{
        scale: 1.2;
    }

    .slogan-cta-button:hover, .tech-stack-cta-button:hover{
        scale: 1.3;
    }

    .footbar{
        flex-direction: column;
        align-items: center;
    }
} 

@media (min-width: 840px) and (max-width: 1370px) {

    .tech-stack-title{
        font-weight: bold;
        font-size: 95%;
    }

    .tech-stack-item{
        flex-direction: column;
        font-size: 90%;
    }
}
